body{
    overflow-x: hidden;
}

@font-face {
    font-family: "PadaukR";
    src: url("./padauk/Padauk-Regular.ttf");
  }
  @font-face {
    font-family: "PadaukB";
    src: url("./padauk/Padauk-Bold.ttf");
  }
  .container-fluid {
    background: linear-gradient(90deg, #25257d 35%, #0266b2 100%);
  }
  .seccion1 {
    height: 100vh;
    position: relative;
  }
  .seccion1 svg {
    position: absolute;
    bottom: -0.4px;
  }
  .seccion1 .imgSeccion1 {
    background-image: url("./img1.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 80%;
  }
  .seccion1 .titles .bottonSeccion1 {
    color: white;
    background: linear-gradient(90deg, #f69620 35%, #feac42 100%);
    padding: 1.5% 8%;
    border: none;
    border-radius: 25px;
    margin: 5% 0 0 0;
  }
  .seccion2 {
    background-color: white;
    position: relative;
  }
  .seccion2 .titles.titlesSeccion2 h2 {
    color: #25257d;
  }
  .seccion2 .titles.titlesSeccion2 h3 {
    color: #25257d;
  }
  .seccion2 .titles.titlesSeccion2 p {
    color: #acaaaa;
  }
  .seccion3 {
    background-color: transparent;
    padding-bottom: 8%;
    position: relative;
  }
  .seccion3 .card {
    background-color: transparent;
  }
  .seccion3 .card .avatar {
    background-color: #f79822;
    padding: 1%;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;

  }
  .seccion3 .card .avatar img {
    width: 100%;
    height: 100%;
  }
  .seccion3 .card .card-header .card-title {
    font-family: "PadaukB";
    color: #f79822;
  }
  .seccion3 .card .card-header .card-subtitle {
    text-align: justify;
    color: white;
  }
  footer {
    background-color: transparent;
    color: white !important;
    padding: 1% 0;
  }
  footer .card {
    padding: 0;
    background-color: transparent;
  }
  footer .card mat-icon {
    color: #acaaaa;
  }
  footer .card .card-subtitle {
    color: white;
  }
  .seccion4 {
    background-color: #f79822;
    margin-top: -8%;
    padding-left: 9.5%;
    padding-right: 9.5%;
    padding-bottom: 8%;
  }
  .seccion4 .card {
    color: white;
    font-family: "PadaukR";
    background-color: transparent;
  }
  .seccion4 .card .card-title {
    font-size: 32px;
  }
  .seccion4 .card .card-body p {
    text-align: justify;
  }
  .titles h1 {
    font-size: 72px;
    font-family: "PadaukB";
    color: #f79822;
    margin: 30px 0;
  }
  .titles h2 {
    font-size: 30px;
    font-family: "PadaukB";
    color: white;
  }
  .titles h3 {
    color: white;
    font-size: 42px;
    font-family: "PadaukB";
  }
  .titles p {
    margin-top: 10%;
    color: white;
    font-family: "PadaukR";
    max-width: 75%;
  }
  .title1 {
    color: white;
    font-size: 42px;
    font-family: "PadaukB";
    width: 100%;
    text-align: center;
  }
  .cards img {
    width: 50%;
    height: 50%;
  }
  .cards .card-header .card-title {
    text-align: center;
    font-family: "PadaukB";
    color: #25257d;
  }
  .cards .card-header .card-subtitle {
    text-align: justify;
  }
  .mt-seccion {
    margin-top: 6%;
  }
  .pt-seccion {
    padding-top: 6%;
  }
  .triangle {
    width: 100%;
    margin: 0;
  }
  @media (max-width: 992px) {
    .titles {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .titles h2 {
      margin: 0;
    }
    .titles p {
      margin-top: 5%;
    }
    .seccion2 .titles {
      text-align: center;
    }
    .seccion2 .cards img {
      width: 40%;
      height: 40%;
    }
  }
  @media (max-width: 768px) {
    .titles h1 {
      font-size: 62px;
    }
    .titles h2 {
      font-size: 30px;
      margin: 0;
    }
    .titles h3 {
      font-size: 35px;
    }
    .titles p {
      text-align: center;
    }
    .seccion2 .cards img {
      width: 15%;
      height: 15%;
    }
    .seccion3 {
      padding-bottom: 8%;
    }
    .seccion3 h1 {
      text-align: center;
      width: 100%;
      margin: 0;
      font-size: 32px;
    }
    .seccion3 .card {
      padding: 16px 0px;
    }
    .seccion3 .card .avatar {
      padding: 1%;
    }
    .seccion3 .card .avatar img {
      width: 100%;
      height: 100%;
    }
    .seccion3 .card .card-header .card-title {
      font-family: "PadaukB";
    }
    .seccion3 .card .card-header .card-subtitle {
      text-align: justify;
    }
    footer {
      border-top-left-radius: 55px;
      border-top-right-radius: 55px;
      margin-top: -8%;
      color: white !important;
      padding: 3% 0;
    }
    footer .card {
      padding: 0;
    }
    footer .card mat-icon {
      color: #acaaaa;
    }
    footer .card .card-subtitle {
      color: white;
    }
  }
  @media (max-width: 576px) {
    .seccion1 .titles .bottonSeccion1 {
      width: 80%;
      padding: 3.5% 20%;
    }
    .seccion2 .titles h1 {
      font-size: 52px;
    }
    .seccion2 .titles h2 {
      font-size: 24px;
    }
    .seccion2 .titles h3 {
      font-size: 32px;
    }
    .seccion3 {
      padding: 0;
    }
    .seccion4 {
      border-radius: 0;
      margin-top: 0;
    }
    .seccion4 h1 {
      width: 100%;
      text-align: center;
      font-size: 32px;
    }
    footer {
      border-radius: 0;
    }
  }
  